.dashboard {
  --gap-items: 24px;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.2rem;
  --font-size-large: 2.2rem;

  display: grid;
  padding: 40px;
  gap: var(--gap-items);
  min-height: 100%;

  & .card-medium,
  & .card-small,
  & .card {
    position: relative;
    display: flex;
    width: 100%;
    padding: 18px;
    border-radius: 8px;
    overflow: hidden;
    color: rgb(132, 146, 196);
    background-color: var(--card-bg);
  }
}

/* * {
  border: 1px solid red;
} */

.cards-section {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-items);

  & .cards-medium,
  & .cards-small {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
    gap: inherit;
  }

  & .cards-medium {
    /* grid-column: span 2; */
    flex: 1 1 700px;
  }

  & .cards-small {
    flex: 1 1 340px;
  }

  & .card-medium,
  & .card-small {
    & .card-container {
      padding: 10px 0;
    }

    & .card-icon {
      display: grid;
      place-items: center;
      width: 44px;
      height: 44px;
      border-radius: 8px;
      color: var(--color-text-primary);
      background-color: var(--color-bg-tertiary);
    }

    & .earning {
      color: var(--color-text-secondary);
    }
  }

  & .card-medium,
  & .card-small {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 210px;
      height: 210px;
      border-radius: 50%;
    }
  }

  & .card-medium {
    flex-direction: column;

    &::before {
      background: linear-gradient(
        140.9deg,
        var(--color-balls, rgb(101, 31, 255)) -14.02%,
        rgba(144, 202, 249, 0) 85.5%
      );
      opacity: 0.5;

      top: 0;
      right: 0;
      transform: translate(0, -58%);
    }

    &::after {
      background: linear-gradient(
        210.04deg,
        var(--color-balls, rgb(101, 31, 255)) -50.94%,
        rgba(144, 202, 249, 0) 95.49%
      );

      top: 0;
      right: 0;
      transform: translate(40%, -40%);
    }

    & .earning {
      font-size: var(--font-size-large);
    }

    & p {
      font-size: var(--font-size-medium);
      font-weight: 500;
    }
  }

  & .card-small {
    flex-direction: row;
    align-items: center;
    gap: 14px;

    &::before {
      background: linear-gradient(
        140.9deg,
        var(--color-balls, rgb(101, 31, 255)) -14.02%,
        rgba(144, 202, 249, 0) 70.5%
      );

      top: -160px;
      right: -130px;
    }

    &::after {
      background: linear-gradient(
        210.04deg,
        var(--color-balls, rgb(101, 31, 255)) -50.94%,
        rgba(144, 202, 249, 0) 83.49%
      );

      top: -30px;
      right: -180px;
    }

    & .earning {
      font-size: 1rem;
    }

    & p {
      margin-top: 4px;
      font-size: var(--font-size-small);
    }
  }
}

.analytics-section {
  display: flex;
  flex-wrap: wrap;
  gap: inherit;

  & canvas {
    width: 100%;
  }

  h3 {
    color: var(--color-text-secondary);
  }

  & .card:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* justify-content: space-between; */
    flex: 1 1 460px;

    & header {
      flex-grow: 1;
    }

    & p {
      margin-bottom: 4px;

      font-size: var(--font-size-small);
    }

    & canvas {
      align-self: flex-end;
    }
  }

  & .card:nth-child(2) {
    flex: 1 1 320px;
  }
}

@media (width > 1200px) {
  .cards-section {
    .cards-small {
      grid-template-columns: 1fr;
    }
  }
}
