body {
  min-height: 100vh;
  min-height: 100dvh;
}

.section-products {
  padding: 20px 40px;
  color: var(--color-text-tertiary);

  header {
      padding: 24px 0;
  }

  .input-search {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid rgba(189, 200, 240, 0.15);
        color: var(--color-text-secondary);
        background-color: var(--color-bg-secondary);

        & input {
          color: inherit;
          padding: 10px;
          font-size: 0.9rem;
          border: none;
          outline: none;
          background: transparent;
        }
      }

  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
    gap: 16px;

    .product-card {
      height: 420px;
      background-color: var(--card-bg);
      border-radius: 8px;
      box-shadow: var(--base-box-shadow);
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      &:hover {
        box-shadow: rgba(33, 150, 243, 0.1) 0px 2px 14px 0px;
        transform: scale3d(1.02, 1.02, 1);
      }

      --img-height: 60%;

      .img-container {
        position: relative;
        height: var(--img-height);
        margin: 0;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 8px 8px 0 0;
        }

        .details-link {
          position: absolute;
          inset: 0;
        }
      }

      footer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        height: calc(100% - var(--img-height));
        padding: 16px 16px 24px;

        .title {
          color: var(--color-text-secondary);
        }

        .description {
          max-height: 56px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
        }

        .product-footer {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          flex-grow: 1;

          .price {
            padding-bottom: 5px;
            color: var(--color-text-primary);
          }

          .delete-btn {
            display: grid;
            place-content: center;
            height: 32px;
            width: 49px;
            border-radius: 4px;
            border: 1px solid var(--color-red);
            background-color: var(--color-red);
            cursor: pointer;

            box-shadow: var(--base-box-shadow);

            &.outlined-btn {
              background-color: transparent;

              .icon-trash {
                color: var(--color-red-dark);
              }
            }

            .icon-trash {
              color: var(--color-text-secondary);
            }
          }
        }
      }
    }
  }
}
